.card{
    height: 60vh;
    margin: 25px;
    padding: 25px;
    background-color: #ffffb3;
}
.card-title{
    font-size: large;
}
.center{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}   
h4,h6{
    font-size: large;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}

.center .btn {
    font-size: 14px !important;
    margin-top: 20px !important;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px !important;
}

.center button{
    background-color: #003366 !important;
}


.cards-cont{
    background-color: #ffffb3;
}
#empty-btn .btn-primary{
    background-color: #003366 !important;
    margin-top: 12px !important;
}

#cont-shop .btn-primary{
    background-color: #003366 !important;
    margin-top: 12px !important;
    width: 140%;
}